.back-to-top {
    display: flex;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-to-top:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .back-to-top {
        padding: 0.5rem;
    }

    .back-to-top svg {
        width: 20px;
        height: 20px;
    }
}